<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>webViewSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>163F9AE91CA7B2D600C1259A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>163F9AFD1CA7B2D600C1259A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>163F9B081CA7B2D600C1259A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
